.header {
    background-color: var(--accent-color);
}

.header__logo-main {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    max-width: 100%;
}

.header__menu {
    display: flex;
    flex-direction: column;
}

.header__menu .header__menu-link {
    text-decoration: none;
    color: var(--text-accent-color);
}

.header__menu .header__menu-link:hover {
    text-decoration: underline;
}

.header__menu-link {
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
}

.header__contact-logo-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 25.2px;
    color: var(--text-color);
}