<section class="atta-yoga">
    <div class="atta-yoga__first-section">
        <div class="atta-yoga__intro">
            <h5 class="atta-yoga__title-paragraph">BEAUTY & MIND</h5>
            <h1 class="atta-yoga__title">Atta Yoga - Your Spiritual Heaven</h1>
            <p class="atta-yoga__title-card-text">Find balance and serenity in this hectic life through yoga practices. Heal your body and soul and become a healthier person.</p>
            <a class="button" href="#"><span>JOIN US NOW</span></a>
        </div>
        <figure class="atta-yoga__card-image">
            <img class="card__image-main" src="img/card-image/main-photo.png" alt="Yoga Girl">
        </figure>
    </div>
    <div class="atta-yoga__cards">
        <article class="atta-yoga__card-item card">
            <img class="card__img" src="img/motivation/relax.svg" alt="Girl in possition">
            <h4 class="card__title">Relax</h4>
            <p class="card__text">Get rid of stress and annoying thoughts.</p>
        </article>
        <article class="atta-yoga__card-item card">
            <img class="card__img" src="img/motivation/stretch.svg" alt="Flexible Girl">
            <h4 class="card__title">Stretch</h4>
            <p class="card__text">Make your body more flexible and supple.</p>
        </article>
        <article class="atta-yoga__card-item card">
            <img class="card__img" src="img/motivation/stay.svg" alt="Fit Girl">
            <h4 class="card__title">Stay Fit</h4>
            <p class="card__text">Yoga is a great alternative to going to the gym.</p>
        </article>
        <article class="atta-yoga__card-item card">
            <img class="card__img" src="img/motivation/mediate.svg" alt="Girl in Lotos possition">
            <h4 class="card__title">Mediate</h4>
            <p class="card__text">Learn to control your own thoughts and life.</p>
        </article>
        <article class="atta-yoga__card-item card">
            <img class="card__img" src="img/motivation/progress.svg" alt="Girl in progress">
            <h4 class="card__title">Progress</h4>
            <p class="card__text">We offer classes for beginners and experts.</p>
        </article>
    </div>
</section>