<header class="header">
    <nav class="header__logo container">
        <div class="header__logo-image">
            <img class="header__logo-main" src="img/ologo-main.svg" alt="Yoga logo">
        </div>
        <div class="header__menu">
            <a href="#" class="header__menu-link">About</a>
            <a href="#" class="header__menu-link">Classes</a>
            <a href="#" class="header__menu-link">Pricing</a>
            <a href="#" class="header__menu-link">Shedule</a>
            <a href="#" class="header__menu-link">Contacts</a>
        </div>
        <div class="header__contact-logo">
            <a href="+12345678900" class="header__contact-logo-link">+1 234 567 89 00</a>
        </div>
    </nav>
</header>