<header class="header">
    <nav class="header__logo container">
        <div class="header__logo-image">
            <img class="header__logo" width="101" src="img/ologo-main.svg" alt="Yoga logo">
        </div>
        <div class="header__menu">
            <a href="#" class="header__menu-link">About</a>
            <a href="#" class="header__menu-link">Classes</a>
            <a href="#" class="header__menu-link">Pricing</a>
            <a href="#" class="header__menu-link">Shedule</a>
            <a href="#" class="header__menu-link">Contacts</a>
        </div>
        <div class="header__contact-logo">
            <a href="+12345678900" class="header__contact-logo-link">+1 234 567 89 00</a>
        </div>
    </nav>
   
    <nav class="header__contact container">
         <section class="atta-yoga">
            <div class="atta-yoga__first-section">
                <h5 class="atta-yoga__title-paragraph">BEAUTY & MIND</h5>
                <h1 class="atta-yoga__title">Atta Yoga - Your Spiritual Heaven</h1>
                <p class="atta-yoga__title-card-text">Find balance and serenity in this hectic life through yoga practices. Heal your body and soul and become a healthier person.</p>
                <a class="button" href="#"><span>JOIN US NOW</span></a>
            </div>
            <figure class="atta-yoga__card-image">
                <img class="card__image-main" src="img/card-image/main-photo.png" alt="Yoga Girl">
            </figure>
         </section>
    </nav>
</header>