<header class="header">
    <nav class="header__logo-image">
        <div class="header__logo-image-section">
            <img class="header__logo" width="101" src="img/ologo-main.svg" alt="Yoga logo">
        </div>
    </nav>
    <ul class="header__menu">
        <li class="header__menu-item">
            <a href="#" class="header__menu-link">About</a>
        </li>
        <li class="header__menu-item">
            <a href="#" class="header__menu-link">Classes</a>
        </li>
        <li class="header__menu-item">
            <a href="#" class="header__menu-link">Pricing</a>
        </li>
        <li class="header__menu-item">
            <a href="#" class="header__menu-link">Shedule</a>
        </li>
        <li class="header__menu-item">
            <a href="#" class="header__menu-link">Contacts</a>
        </li>
    </ul>
    <div class="header__contact">
        <a href="+12345678900" class="header__contact-link">+1 234 567 89 00</a>
    </div>
</header>